<div class="mt-4">
    <form class="container" method="post" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Search Form</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Search for...">
        </div>

        <div class="mb-3">
            <label for="gender-input" class="form-label">Search Form</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">--Chon goi tinh--</option>
                <option value="nam">Nam</option>
                <option value="nu">Nu</option>
                <option value="khac">Khac</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>